<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipePal</title>
    <!-- load static files -->
    {% load static %}
    <link href="{% static 'main/style.css' %}" rel="stylesheet">
    <!-- bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}">

</head>
<body>
    <!-- HEADER -->
    {% include "snippets/header.html" %}

    <!-- BODY -->
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>

    <!-- FOOTER -->
    {% include "snippets/footer.html" %}

    <!-- include bootstrap javascript files -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>

</body>
</html>
