head{
    font-family: "Segoe UI";
    font-weight: 380;
}
footer{
    font-family: "Segoe UI";
    font-weight: 380;
}
body{
    background-color: blueviolet;
    font-family: "Segoe UI";
    font-weight: 380;
}